.event-entry {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0;
  color: var(--default-color);
  transform: translateX(120%);
  max-width: 40%;
}

.event-box {
  border: 2px solid var(--color-yellow);
  width: 25%;
  margin: 3vh auto;
  text-align: center;
  transform: translateX(8vw);
  max-width: 20%;
}

.event-information {
  font-family: "Courier New", Courier, monospace;
  color: var(--default-color);
}

.event-image {
  max-width: 600px;
  position: absolute;
  transform: translateX(80%);
  top: 27vh;
}
p {
  margin-bottom: 0;
}
