.event-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .event-card {
    border: solid 2px var(--color-yellow);
    margin: 1vh 1vw;
    text-align: center;
    .event-title {
      font-family: "Courier New", Courier, monospace;
      color: var(--default-color);
      font-weight: 800;
      font-size: 15pt;
      margin-bottom: 0;
      text-decoration: underline var(--color-yellow);
    }
  }
  .event-tag {
    font-family: "Courier New", Courier, monospace;
    font-size: 11pt;
    margin-bottom: 0;
    opacity: 45%;
    color: var(--default-color);
  }
  .event-sum {
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt;
    margin-bottom: 0;
  }
}
.event-toggle {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
  margin-bottom: 0;
  opacity: 45%;
  color: var(--default-color);
}
